@media only screen and (min-width: 60rem) {
    body {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 60rem) {
    body {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

body {
    background-color: greenyellow !important;
}

.col-md-5 {
    margin-top: 5rem !important;
}

span {
    font-size: 3em;
}

h6 {
    margin: 1.5rem;
    display: inline;
}

button {
    margin: 1rem !important;
    font-size: 1.5em !important; 
}